In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
dfx = pd.read_csv('Diabetes_XTrain.csv')
dfy = pd.read_csv('Diabetes_yTrain.csv')
dft = pd.read_csv('Diabetes_Xtest.csv')
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [21]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [22]:
print(dfx.shape,dfy.shape,dft.shape)
X = dfx.values
Y = dfy.values
t = dft.values

(576, 8) (576, 1) (192, 8)

In [5]:
print(type(X))

<class 'numpy.ndarray'>

In [23]:
def dist(x1,x2):
    return np.sqrt(sum((x1-x2)**2))

# Test Time 
def knn(X,Y,queryPoint,k=5):
    
    vals = []
    m = X.shape[0]
    
    for i in range(m):
        d = dist(queryPoint,X[i])##ISSUE
        vals.append((d,Y[i]))
    
        
    vals = sorted(vals)
    # Nearest/First K points
    vals = vals[:k]
    
    vals = np.array(vals)
#     print(vals.shape)
    
    #print(vals)
    
    new_vals = np.unique(vals[:,1],return_counts=True)
#     print(new_vals)
    
    index = new_vals[1].argmax()
    pred = new_vals[0][index]
    
    return pred

In [28]:
y_test = []
n = t.shape[0]
for i in range(n):
    pred = knn(X,Y,t[i])
    y_test.append(pred)

In [31]:
df = pd.DataFrame(data=y_test,columns=["Outcome"])

In [32]:
df.to_csv('y_prediction_knn.csv',index=False)